{% extends 'base.html.twig' %}

{% block body %}
    <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Welcome to the catamaran dashboard
                            <br>
                            <br>

                            <small>Please login with admin/admin for a demo.</small>
                        </h3>
                        {% if app.session.flashBag.has('error') %}
                            <div class="alert alert-error">
                                {% for msg in app.session.flashBag.get('error') %}
                                    {{ msg }}
                                {% endfor %}
                            </div>
                        {% endif %}


                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('verify') }}">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Gebruikersnaam" name="username" type="username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Wachtwoord" name="password" type="password" value="">
                                </div>
                                <button type="submit" class="btn btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}